<ion-header>
  <ion-toolbar>
    <ion-title>
      Canasta de la Semana
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list>
  <ion-list-header>Canasta base</ion-list-header>
  <ion-grid>
    <ion-row>
      <ion-col><ion-item>Pimentón 1 unidad</ion-item></ion-col>
      <ion-col><ion-item>aji jalapeño 1 unidad</ion-item></ion-col>
    </ion-row>
    <ion-row>
     <ion-col><ion-item>berenjena 1 unidad</ion-item></ion-col>
     <ion-col><ion-item>pimentones 1 unidad</ion-item></ion-col>
    </ion-row>
    <ion-row>
      <ion-col><ion-item>tomates rosados 900 gr</ion-item></ion-col>
      <ion-col><ion-item>zapallo italiano 2  unidades</ion-item></ion-col>
    </ion-row>
    <ion-row>
      <ion-col><ion-item>ajo 1 unidad</ion-item></ion-col>  
      <ion-col><ion-item>cebolla 2 unidades</ion-item></ion-col>
    </ion-row>
    <ion-row>
      <ion-col><ion-item>mix rucula/etc 110 gr</ion-item></ion-col>
      <ion-col><ion-item>cilantro 1 paquete</ion-item></ion-col>
    </ion-row>
    <ion-row>
      <ion-col><ion-item>espinaca 300 gr</ion-item></ion-col>
      <ion-col><ion-item>betarraga 2 unidades</ion-item></ion-col>
    </ion-row>
    <ion-row>
       <ion-col><ion-item>limones 2 unidades</ion-item></ion-col>
    </ion-row>
  </ion-grid>
  <ion-list-header>Mis fichas</ion-list-header>
    <ion-grid>
      <ion-row>
        <ion-col><ion-item>Fruta 1: Peras 600g</ion-item></ion-col>
        <ion-col><ion-item>Fruta 2: Manzanas 400g</ion-item></ion-col>
      </ion-row>
    </ion-grid> 
  <ion-list-header>Consumo libre</ion-list-header>
    <ion-grid>
      <ion-row>
        <ion-col><ion-item>Granos 600g</ion-item></ion-col>
      </ion-row>
    </ion-grid> 
  <ion-list-header>Otros encargos</ion-list-header>
    <ion-grid>
      <ion-row>
        <ion-col><ion-item>Queso 1/2 rueda</ion-item></ion-col>
        <ion-col><ion-item>Almendras 1 Kg</ion-item></ion-col>
      </ion-row>
    </ion-grid>
</ion-list>

          

</ion-content>
